@import 'imports'

header
  border-top: 4px solid $blue-light
  .banner
    align-items: center
    background: url('../img/header_banner.png') no-repeat
    background-size: cover
    display: flex
    justify-content: center
    min-height: calc(100vh - 50px)
    min-width: 100%
    overflow: hidden
    width: auto
    .bannerText
      background-color: $dark-back-trans
      border: solid 2px $blue-light
      color: $white
      font-family: $logo-font
      max-width: 400px
      padding: 20px
      text-align: center
      width: 93%
      img
        height: auto
        max-width: 220px
        width: 80%
      h1, h2
        line-height: 20%
