@import 'imports'

.navbar
  background-color: $dark-back
  border: none
  border-radius: inherit
  a,
  .linkOut
    font-family: $logo-font
    font-size: $small-size
    font-weight: bold
    outline: none
    text-align: center
    transition: .4s
    &:hover
      color: $blue-light !important
  .linkOut
    color: $linkOut !important
    &:hover
      color: $linkOut !important

.nav-logo
  height: 50px
  padding: 10px
  width: auto