 <div class="banner noPadd">
        <div class="bannerText">
            <img src="{{ asset('assets/img/header-logo.png') }}">
            <h1>Javazzo Kevin</h1>
            <h2>Développeur Web</h2>
        </div>
    </div>
