<footer class="content-size">
    <div class="footer-social">
        <a><i class="fa fa-github-square fa-3x link"></i></a>
        <a><i class="fa fa-twitter-square fa-3x link"></i></a>
        <a><i class="fa fa-linkedin-square fa-3x link"></i></a>
    </div>
    <div class="copyright">
        <p>© Javazzo Kevin 2017 | Tous Droits Réservés<br>
        <a href="{{ path('app_legales') }}">Mentions Légales</a> | <a href="{{ path('app_plan') }}">Plan du site</a></p>
    </div>
</footer>