<header class="row">

        <img class="full-vh" src="{{ asset('template/header_banner.png') }}">

    <div class="bannerText">
        <h1>Kevin Javazzo</h1>
        <h2>Développeur Web</h2>
    </div>
</header>
